export(fitContinuous.hacked, getSimulationSplits, meanFromPrior, mutateState, pairings, PairwiseESS, PairwiseKS, parentOffspringPlots, plotPosteriors, plotPrior, plotPosteriors_abc, presentABCOutput, pullFromPrior, simulateData, summarizeTaxonStates, summaryStatsLong, ThreeD.ABCplots, CredInt, HPD, BCP)
